.i-icon {
  --size: 1em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: var(--size);
  height: var(--size);
  background-repeat: no-repeat;
  background-position: center;

  * {
    fill: var(--c-dark);
  }
}
