<%
const defaults = require('./data.json').data
const params = (typeof data === 'undefined') ? defaults : {...defaults, ...data}
const {
  items,
} = params
%>

<nav class="breadcrumb" aria-label="breadcrumb">
  <ol
    class="breadcrumb__list flow"
    itemscope
    itemtype="https://schema.org/BreadcrumbList"
  >
    <% items.forEach((item, index) => { %>
      <li
        class="breadcrumb__item"
        title="<%= item.name %>"
        itemprop="itemListElement"
        itemscope
        itemtype="https://schema.org/ListItem"
      >
        <a
          class="breadcrumb__link"
          href="<%= item.link %>"
          itemprop="item"
          <% if (index === items.length - 1) { %>
            aria-current="page"
          <% } %>
        >
          <span itemprop="name"><%= item.name %></span>
        </a>
        <meta itemprop="position" content="<%= index + 1 %>"/>
      </li>
    <% }) %>
  </ol>
</nav>
