@import "../../styles/mixins.pcss";

.password-button {
  &.is-active {
    .password-button__icon--before {
      display: none;
    }
  }

  &:not(.is-active) {
    .password-button__icon--after {
      display: none;
    }
  }
}
