<button
	class="form-input-button password-button"
	type="button"
	title="Показать пароль"
	aria-label="Показать пароль"
	data-js-password-button
>
	<svg class="password-button__icon password-button__icon--before i-icon">
		<use href="#icon-eye"></use>
	</svg>
	<svg class="password-button__icon password-button__icon--after i-icon">
		<use href="#icon-eye-crossed-out"></use>
	</svg>
</button>
