<button
	class="form-input-btn password-btn"
	type="button"
	title="Показать пароль"
	aria-label="Показать пароль"
	data-js-password-btn
>
	<svg
		class="password-btn__icon password-btn__icon--before i-icon"
	>
		<use href="#icon-eye"></use>
	</svg>
	<svg
		class="password-btn__icon password-btn__icon--after i-icon"
	>
		<use href="#icon-eye-crossed-out"></use>
	</svg>
</button>
