<% const data = {
	title: "Главная страница",
	flowContainerClass: "",
} %>

<%- require("../layouts/head.ejs")(data) %>


<div class="content__sections">

</div>

<%- require("../layouts/foot.ejs")() %>
