<% const data = {
	title: 'Список страниц вёрстки',
	flowContainerClass: '',
	breadcrumbs: {
		data: {
			items: [
				{
					name: 'Главная',
					link: '/'
				},
				{
					name: 'Список страниц вёрстки'
				}
			]
		}
	}
}; %>

<%- require('../layouts/head.ejs')(data) %>

<div class="content__sections">

</div>

<%- require('../layouts/foot.ejs')() %>
