<%
const params = {...require('./data.json'), ...arguments?.[0]}
const {
	extraClasses,
	extraAttrs
} = params
%>

<%
	let classes = 'example'
	if (extraClasses) {
		classes += ` ${extraClasses}`
	}
%>

<div
	class="<%= classes %>"
	<%- extraAttrs %>
>

</div>
