<%
const { classNames } = require("../../js/utils/classNames")
const props = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs
} = props
%>

<%
const classes = classNames(extraClasses, 'example-component')
const attrs = Array.isArray(extraAttrs) ? extraAttrs.join(' ') : extraAttrs
%>

<div
	class="<%= classes %>"
	<%- attrs %>
>

</div>
