<%
const defaults = require('./data.json').data
const params = (typeof data === 'undefined') ? defaults : {...defaults, ...data}
const {
	extraClasses,
	extraAttrs,
} = params
%>

<div
	class="example <%= extraClasses %>"
	<%- extraAttrs %>
>

</div>
