@import "../../styles/mixins.pcss";

.map {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: var(--border-radius-2);

  &:not(.is-unlocked) {
    pointer-events: none;
  }

  &.is-unlocked::after {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
  }

  &[class$="map-copyrights-promo"] {
    display: none !important;
  }
}
