<%
const { classNames } = require("../../js/ejsUtils")
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs,
	mapCfg,
} = cfg
%>

<div
	class="<%= classNames("map", extraClasses) %>"
	data-js-map="<%= JSON.stringify(mapCfg) %>"
	<%- extraAttrs %>
></div>
