<%
const defaults = require('./data.json').data
const params = Object.assign({}, defaults, (data) ? data : {})
const {
	extraClasses,
} = params
%>

<div class="slider-pagination <%= extraClasses %>"></div>
