<%
const { classNames } = require("../../js/ejsUtils")
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs
} = cfg
%>

<div
	class="<%= classNames("slider-pagination", extraClasses) %>"
	<%- extraAttrs %>
>

</div>
